body {
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #505962;
  background-color: #E5E5E5;
}

/* main {
  margin-top: 100px;
} */



.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: 0.1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}

.navbar-brand {
  font-size: 2rem;
}

.navbar-nav li {
  padding-right: 0.7rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1ebba3;
}


.hero {
  height: 646px;
  background: #222831;
  color: #fff;
  padding: 200px 0;
}

.hero-desc {
  width: 50%;
}

.quality {
  width: 288px;
height: 185px;
background: #F2F4F7;
box-shadow: 1px 2px 9px rgba(55, 20, 153, 0.1);
border-radius: 8px;
padding: 20px;
margin: 0 auto 20px auto;
}

.skill-quality {
  margin-top: -30px;
}
.progress {
  height: 8px !important;
}

.skill-card {
  width: 216.15px;
  height: 194px;
  background: #F2F4F7;
  box-shadow: 1px 2px 4px rgba(25, 61, 115, 0.1);
  border-radius: 8px;
}

.number-case {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background: #F2F4F7;
  color: #222831;
}

.number-case .count {
  font-weight: 600;
  font-size: 16px;
}

.centered-count .count-desc {
  margin-top: 30px;
}

.count {
  padding: 20px;
}

.dev-intro {
  padding-top: 100px;
}

.dev-content {
  margin: 150px auto 0 auto;
  padding: 30px;
}

.dev-content h4 {
  width: 65%;
  font-size: 32px;
}

.skill-section {
  padding: 100px 0;
}

.company {
  padding: 100px 0;
}

.sample-companies {
  padding-top: 100px;
}

/* reviews */
.dark {
  height: 319px;
  background: #222831;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-samples {
  margin-top: -24px;
  padding-bottom: 200px;
}

.project-samples .card {
  width: 288px;
  height: 266px;
  margin: 0 2px;
  text-align: center;
  padding: 0 30px;
}

.card-head {
  margin: 24px 0 50px 0;
}

.project-link {
  margin-top: 50px;
}

.no-margin {
  margin: 0 1px;
  padding: 0;
}

.section-header h1, .section-header h2 {
  font-size: 32px;
}

/* testimonials */
.section-title p {
  width: 516px;
}

.w-591 {
  width: 591px;
}

.centered p {
  width: 60%;
  margin: 0 auto;
}

#testimonials {
  padding: 100px 0 40px 0;
}


.testimonial-card {
  width: 552px;
  height: 242px;
  background: #222831;
  border-radius: 8px;
  color: #fff;
  padding: 20px 15px;
}
.testimonials q::before, .testimonials q::after {
  color: red;
  font-size: 20px;
}

.justify-between {
  justify-content: space-between;
}
.contact-section {
  margin: 100px 0;
}

.socials {
  display: flex;
}

.socials a {
  margin-right: 10px;
  text-decoration: none;
}

input[type="text"] {
  height: 56px;
}

textarea {
 height: 138px !important;
}

/* footer */
footer {
  height: 66px;
  background: #222831;
  color: #fff;
  padding: 15px 0;
}

/* #client-reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  
} */


/* media queries */

@media (max-width: 767px){
  .project-cards {
    flex-direction: column;
  }
  .project-samples .card {
    margin: 0  auto 20px auto;
  }

  /* testimonials */
    .testimony {
      flex-direction: column;
    }
  .testimonial-card {
    width: 315px;
    height: 246px;
    margin: 10px auto;
  }

  .section-title p {
    width: 100%;
  }

  .dark .centered {
    width: 70%;
    margin: 0 auto;
  }

  .centered h1{
    font-size: 24px;
    padding: 0 40px;
  }

  .w-591 {
    width: 100%;
  }

  #client-reviews {
    height: 849px;
  }

  .centered-count {
    margin-bottom: 20px;
  }

  .skill-card {
    margin-bottom: 20px;
  }

  .skill-quality {
    margin-top: 30px;
}

}